@using Store.Infrastructure
@model Store.ViewModels.Phone.PhoneEditViewModel

@{
    ViewData["Title"] = "Edit";
    var index = 0; 
}

<h4>Phone Editing</h4>
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
            
            <section>
                <label asp-for="Brand" class="control-label"></label>
                <div class="d-flex flex-row">
                    <select asp-for="Brand" class="form-select me-3" name="Brand.Id">
                        <option value="0">New</option>
                        @foreach (var brand in Model.Brands)
                        {
                            @if (brand.Name == Model.Brand)
                            {
                                <option value="@brand.Id" selected>@brand.Name</option>
                            }
                            else
                            {
                                <option value="@brand.Id">@brand.Name</option>
                            }           
                        }
                    </select>
                    <input name="Brand.Name" class="form-control" placeholder="Custom Value"/>
                </div>                
            </section>

            <section>
                <label asp-for="Model" class="control-label"></label>
                <div class="d-flex flex-row">
                    <select asp-for="Model" class="form-select me-3" name="Model.Id">
                        <option value="0">New</option>
                        @foreach (var m in Model.Models)
                        {
                            @if (m.Name == Model.Model)
                            {
                                <option value="@m.Id" selected>@m.Name</option>
                            }
                            else
                            {
                                <option value="@m.Id">@m.Name</option>
                            }                            
                        }
                    </select>
                    <input name="Model.Name" class="form-control" placeholder="Custom Value"/>
                </div>                
            </section>

            <section class="row" id="images">
                <label class="control-label">Images</label>
                @foreach (var image in Model.Images)
                {
                    <div class="d-flex flex-column col">
                        <img style="width: 70px;" src="@image.Link"/>
                        <input hidden asp-for="@image.Id" name="Images[@index].Id" class="form-control"/>
                        <input asp-for="@image.Link" name="Images[@index].Link" class="form-control"/>
                    </div>
                    index++;
                }
                @*<div class="d-flex flex-column col">
                        <img class="img-thumbnail" style="width: 100px; height: 100px;" src=""/>
                        <input name="Images[@index].Link" class="form-control" placeholder="New link"/>
                </div>*@
            </section>
            <input type="button" class="btn btn-secondary" value="Add Image" onclick="addImage(@index)"/>

            <section>
                <label asp-for="Color" class="control-label"></label>
                <div class="d-flex flex-row">
                    <select asp-for="Color" class="form-select me-3" name="Color.Id">
                        <option value="0">New</option>
                        @foreach (var color in Model.Colors)
                        {
                            @if (color.Hex == Model.ColorHex)
                            {
                                <option value="@color.Id" selected>@color.Name</option>
                            }
                            else
                            {
                                <option value="@color.Id">@color.Name</option>
                            } 
                        }
                    </select>
                    <input name="Color.Name" class="form-control me-3" placeholder="Custom Value"/>
                    <input name="Color.Hex" type="color" class="form-control form-control-color" value="#ffffff" style="width:100px">
                </div>
            </section>

            <div class="form-group">
                <label asp-for="Memory" class="control-label"></label>
                <input asp-for="Memory" class="form-control"/>
                <span asp-validation-for="Memory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SpecsId" class="control-label"></label>
                <input name="Specifications.Id" asp-for="@Model.SpecsId" class="form-control"/>
                <span asp-validation-for="@Model.SpecsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="d-flex flex-row my-2">
                <input type="submit" class="btn-primary btn" value="Save Changes"/>
                <a asp-action="EditPhones" class="btn-danger btn">Cancel</a>
            </div>            
        </form>        
    </div>
</div>

<script type="text/javascript">
    var imagesSection = document.getElementById("images");
    function addImage(index){
        imagesSection.insertAdjacentHTML("beforeend",
        `<div class="d-flex flex-column col">
             <img class="img-thumbnail" style="width: 100px; height: 100px;" src=""/>
             <input name="Images[${index}].Link" class="form-control" placeholder="New link"/>
        </div>`);
     index++;
    }                
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
